<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<main class="container mt-5" style="background-color: <%= bodyColor || '' %>">
    <h2>¡Registro Exitoso!</h2>
    <p><%= username %>, gracias por visitarnos.</p>
</main>

<%- include('partials/footer.ejs') %>
