<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<main class="container mt-5" style="background-color: <%= userData.color || '' %>">
    <h2>¡Registro Exitoso!</h2>
    <p><%= userData.username %>, gracias por visitarnos.</p>
</main>

<%- include('partials/footer.ejs') %>

<script>
    const forgetColorButton = document.getElementById('forgetColor');
    forgetColorButton.addEventListener('click', () => {
        document.cookie = 'selectedColor=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.reload(); // Recargar la página para aplicar los cambios
    });
</script>
